* {
    box-sizing: border-box; /* padding läggs till och pressar innehållet inåt */
}

body {
    background-color: #E3E8E8; 
}

h1 {
    color: white; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}

#container {
    width: 100%;
    margin: 20px auto; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}

#main-nav ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 10px;
    float: left; 
}

#main-nav ul li a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
}

#main-nav ul li a:hover {
    background-color:#DAD0EE;
    color: white;
}

#main-nav > ul > li {
    float: left;
}

#main-content {
    height: 460px;
    width: 960px; 
}

#left-content,
#right-content {
    width: 50%; 
    height: 480px;
}

#left-content{
    float: left; 
    background-color: lightblue; 
}

#left-content img{
   width: 100%;
   height: auto;
}

#right-content {
    float: right; 
    background-color: white; 
    padding: 0px 20px 10px 20px; 
}

#footer {
    background-color: #3D4244;
    height: 100px;
    color: white;
    padding: 20px; 
    margin-top: 20px;
}

/*----------EXTRA----------*/ 

.active {
    background-color: rgb(97, 97, 193);
    color: white;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
} 
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}